@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About our Machine Learning Model</h2><br>
            <h4>Machine learning is a powerful way to make intellegent predictions based on inputs given to a Machine Learning model.</h4><br>
            <p>Our machine learning model uses MLR to turn information about a crash into a prediction of how bad the
            crash should have been. We use various inputs from real data from <a href="https://opendata.utah.gov/Transportation/Utah-Crash-Data-2020/herb-zqda" target="_blank">Utah's crash data</a>
             to make our predictions. We believe this gives a powerful insight into each collision and a better understanding of what happened
            as well as what could have been the result based on its specific conditions.
            </p>
            <br><button formtarget="_blank" href="https://www.techtarget.com/searchenterpriseai/definition/machine-learning-ML" class="btn btn-secondary btn-lg">Learn more about Machine Learning</button>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>