@{
    ViewData["Title"] = "Home";
}
@*@model Search*@

<header>

    <div class="p-5 text-center bg-image"
         style=" background-image: url('https://gray-kold-prod.cdn.arcpublishing.com/resizer/y2pokIkXFxMfVyKqYFTh0Syncko=/1200x675/smart/filters:quality(85)/cloudfront-us-east-1.images.arcpublishing.com/gray/4R2JLNU6FJFX5D4LLL4UIAVO3M.jpg'); height: 400px; ">
        
        <div class="d-flex justify-content-center align-items-center h-100 w-100">
            <div class="text-white">
                <h1 class="mb-3" style="font-size: 50px">Utah Motor Vehicle Collision</h1>
                <h4 class="mb-3">Zero Fatalities, No Distracted Driving</h4>
            </div>
        </div>
        
    </div>
    <!-- Background image -->
</header>


<div class="text-center">
    <h1 class="display-4" style="font-size:85px; font-family:Arial, Helvetica, sans-serif"></h1><br />
    <h2>Welcome to 0 Fatalities!</h2><br />
    <p style="font-size: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        This site is intended to provide vital data and summary information regarding auto-mobile collisions in the state of Utah.
        We hope to bring awareness to the main factors contributing to severe crashes in order to enable lawmakers to address those most significant issues through legislation.
        In the end, we hope to help to assist in the reduction of all collisions in Utah. #yeetnomore
    </p>
</div>

<p></p>