@{
    ViewData["Title"] = "0Fatalities Home";
}
@model Search
<div class="text-center">
    <h1 class="display-4">Landing Page</h1>
    <p>This page needs to explain to the user what the site is and what it does</p>
</div>
<form style="text-align:center" method="post" class="row g-3 mt-2">
    <div class="col-md-2" style="font-size:25px">
        <select class="dropdown-large" asp-for="Topic">
            <option value="City">City</option>
            <option value="County">County</option>
            <option value="Road">Road</option>
            <option value="CrashId">Crash Id</option>
        </select>
    </div>
    <div class="col-md-7"> <input asp-for="SearchTerm" class="form-control" placeholder="Search"> </div>
    <div class="col-md-3"> <button type="submit" style="background-color: blue" class="btn btn-secondary btn-block">Search</button> </div>
</form>

<p></p>