@*Group 3-10, 4/7/22*@

<p><strong>Privacy Policy for 0 Fatalities Utah</strong></p>
<p><br></p>
<p>One of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by My Website and how we use it.</p>
<p><br></p>
<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
<p><br></p>
<p>This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in 0Fatalities. This policy is not applicable to any information collected offline or via channels other than this website.</p>
<p>Consent</p>
<p><br></p>
<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms. This Privacy Policy has been generated with the <a href="https://www.privacypolicygenerator.info/"><span class="s1">Privacy Policy Generator</span></a> which is available from <a href="https://www.privacypolicygenerator.info/"><span class="s1">https://www.privacypolicygenerator.info/</span></a><span class="Apple-converted-space">&</span></p>
<p><br></p>
<p><strong>Information we collect:</strong></p>
<p><br></p>
<p>Your email address is the only piece of personal information that you are asked to provide. Your email addres becomes your username for your account</p>
<p><br></p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide. However, we will store these communications.</p>
<p><br></p>

<p><strong>How we use your information</strong></p>
<p><br></p>
<p>We use the information we collect in various ways, including to:</p>
<p><br></p>
<ul>
    <li>Provide, operate, and maintain our website</li>
    <li>Improve, personalize, and expand our website</li>
    <li>Understand and analyze how you use our website</li>
    <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
    <li>Send you emails</li>
    <li>Find and prevent fraud</li>
    <li>Log Files</li>
</ul>
<p><br></p>
<p>0 Fatalities follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
<p><br></p>
<p><strong>Cookies and Web Beacons</strong></p>
<p><br></p>
<p>Like any other website, 0 Fatalities uses "cookies". These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
<p><br></p>
<p><strong>DoubleClick DART Cookie</strong></p>
<p><br></p>
<p>0 Fatalities does not use DoubleClick DART Cookies</p>
<p><br></p>

<p><strong>Advertising Partners Privacy Policies</strong></p><br />
<p>0 Fatalities does not Advertise on our website</p>
<p><strong>Third-Party Privacy Policies</strong></p>
<p><br></p><br />
<p>0 Fatalities does not have 3rd parties</p>
<p><strong>GDPR Privacy Policy (Data Protection Rights)</strong></p>
<p><br></p>
<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p><br></p>
<ul>
    <li>The right to access &ndash; You have the right to request copies of your personal data. We may charge you a small fee for this service.</li>
    <li>The right to rectification &ndash; You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</li>
    <li>The right to erasure &ndash; You have the right to request that we erase your personal data, under certain conditions.</li>
    <li>The right to restrict processing &ndash; You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
    <li>The right to object to processing &ndash; You have the right to object to our processing of your personal data, under certain conditions.</li>
    <li>The right to data portability &ndash; You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</ul>
<p><br></p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
<p><br></p>
<p><strong>Children's Information</strong></p>
<p><br></p>
<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
<p><br></p>
<p><br></p>
<p><strong>Questions</strong></p>
<p><br></p>
<p>If you have any questions about this Privacy Policy, please contact us.</p>