<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intex2</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5inFwSXp6k89KKScTG-ZkzIH-96ycINnh1Fm_5xgLGldRrvRhcYIduQBznY73OPNPJJc&usqp=CAU">
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark text-white border-bottom box-shadow mb-1">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8">
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item" style="padding-right: 30px;">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:30px; "><b>0 Fatalaties</b></a>
                                    </li>
                                    <li class="nav-item" style="padding-top: 10px">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item" style="padding-top: 10px">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Summary">Crashes</a>
                                    </li>
                                    <li class="nav-item" style="padding-top: 10px">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Add">Add Crash</a>
                                    </li>
                                    <li class="nav-item" style="padding-top: 10px" >
                                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Analysis">Analysis</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col text-right">
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <ul class="navbar-nav flex-grow-1">

                                    <partial name="_LoginPartial.cshtml" />
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">


        <main role="main">
            <partial name="_CookieConsentPartial" />
        </main>
        <main role="main" class="pb-3">
            <p>&nbsp</p>
            @RenderBody()
        </main>

    </div>

    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Intex2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
