@*Group 3-10, 4/7/22*@
@using Microsoft.AspNetCore.Identity
@using Intex2.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" style="padding-top: 10px; padding-left: 50px">
            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item" style="padding-top: 10px">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link text-white" style="background-color: turquoise">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item" style="padding-top: 10px; padding-left: 100px">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login" style="background-color: turquoise">Login</a>
        </li>
        <li class="nav-item" style="padding-top: 10px; padding-left: 10px">
            <a class="nav-link text-white" id="register" asp-area="Identity" style="background-color: green" asp-page="/Account/Register">Register</a>
        </li>

    }
</ul>
